footer{
    margin: 10px;
    grid-area: footer;
    border: 5px rgb(56, 56, 56) solid;
    background:rgb(56, 56, 56);
    border-radius: 20px;
    border: 8px rgb(204, 204, 204) solid;
    border-style: double;
    color: rgb(201, 201, 201);
  }
  
  footer p b{
    color: rgb(170, 130, 0);
  }